.heading {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 60px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	color: #000000;
}

body {
	background-color: #FFFFFF;
	color: #000000;
}

/* Style the tab */

.tab {
    overflow: hidden;
    border: none; /*1px solid #ccc;*/
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: none;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/*---------------------------------------------------------------------------------------
 *	Top navigation bar
 *-------------------------------------------------------------------------------------*/
.topnav a{
	float: right;
	color: none;
	text-align: center;
	padding: 10px 12px;
	text-decoration:none;
	font-size: 17px;
	font-family: Ubuntu, Helvetica, sans-serif;
}

.topnav a:hover {
	border:0;
	border-bottom: solid 1px grey;
}

.topnav a.active {
	color: grey;
}

/*----------------------------------------------------------------------------------------
 *	Logo Container
 *
 *---------------------------------------------------------------------------------------*/
.logo img {
	display: block;
	margin-left: none;
	margin-right: auto;

	height: 105px;
	width 105px;
}
